body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
  text-align: center;
}

.container {
  padding: 20px;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #0f5132, #198754);
  color: white;
  padding: 50px 20px;
}

.btn-primary {
  background: #ffc107;
  padding: 12px 20px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* VIP */
.vip {
  background: #fff3cd;
}

.btn-whatsapp {
  background: #25D366;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
}

/* CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  width: 280px;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}

.card img {
  width: 100%;
}

.desc {
  font-size: 14px;
}

.old {
  text-decoration: line-through;
  color: red;
}

.new {
  color: green;
  font-size: 20px;
  font-weight: bold;
}

.urgency {
  color: red;
  font-weight: bold;
}

.btn {
  background: orange;
  color: white;
  padding: 10px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}

/* FOOTER */
footer {
  background: #222;
  color: white;
  padding: 10px;
}
